.act-about-tab{
	&__item {
		padding: 4rem;
		background: #FFFFFF;
		border: 1px solid #F3EFE6;
		box-sizing: border-box;
		border-radius: 5px;
		display: flex;
		margin-bottom: 2rem;
		& p {
			font-size: 1.3rem;
		}
	}

	&__item-title {
		margin-bottom: 1rem;
	}

	&__text-right {
		flex-basis: 50%;
		margin-left: 2rem;
	}

	&__text-left {
		flex-basis: 50%;
		margin-right: 2rem;
	}

}
