.register-chooser {
    display: flex;
    flex-direction: column;

    &__btn {
        margin: 1rem 0;
    }

    &__btn-login {
        justify-content: center;
        color: $medium-blue;
        font-weight: 600;
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }

}