<div class="community-management">
  <div class="community-management__title">
    {{t 'community.projectManagement.navTitle'}}
  </div>

  <CommunityManagement @community={{this.model.community}}/>
</div>
