.side-panel {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 9001;
    font-size: 1.6rem;
    background-color: #fff;

    &--hide {
        display: none;
    }

    &--show {
        display: flex;
    }

}
