<button id="accessibility-focus" class="btn-close btn-none" type="button" {{on "click" @closePopup}} aria-label={{t 'accessibility.closePopup'}} title={{t 'accessibility.closePopup'}}>
  <span aria-hidden="true">{{inline-svg "images/ideaBox/close-icon.svg" class="icon-close"}}</span>
</button>
