.access-project {

  &__main-container {
	text-align: center;
	margin: 0 auto;
	max-width: 50rem;
	margin-top: 8.8rem;
  }

  &__description1 {
	margin-top: 3.4rem;
	font-family: Sora;
	font-weight: 700;
	font-size: 2.7rem;
  }

  &__description2 {
	margin-top: 1.8rem;
	font-family: Sora;
	font-weight: 600;
	font-size: 1.7rem;
  }

  &__field {
	width: 37rem;
	margin: 5rem auto 0 auto;
  }

  & button {
	padding: 12px 18px;
	margin: 2.3rem auto 0 auto;
	width: 37rem;
  }

}
