.documents {
  width: 100%;
  height: auto;
  padding: 4rem 12.5rem;
  max-width: 1440px;
  margin: 0 auto;

  &__cards {
	display: flex;
	flex-wrap: wrap;
  }

  &__description {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.2rem;
	color:$medium-gray;
	padding-right: 8.7rem;
  }

  &__description-container{
	width: 55rem;
	padding-bottom: 3rem;
	padding-top: 0.9rem;
  }
}

.documents-mobile {
  width: 100%;
  height: auto;
  padding-left: 2.3rem;
  padding-right: 2.3rem;

  &__cards {
	display: flex;
	flex-wrap: wrap;
  }

  &__title {
	font-size:4.5rem
  }

  &__description {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.2rem;
	color:$medium-gray;
	padding-right: 8.7rem;
  }

  &__description-container{
	padding-bottom: 2rem;
	padding-top: 0.9rem;
  }
}

