.outcome-page {
  background-color:$all-white;
  margin-bottom: 3.4rem;

  &__top-banner{
	position: relative;
	background-color: #8d643c;
	height: 14rem;
	color: $white;
	text-align: center;
	margin-bottom: 3.4rem;
  }

  &__title{
	position:relative;
  }

  &__back-button{
	margin-left:9rem;
	transform: translate(0, -50%);
	position:absolute;
	top: 50%;
	left: 0;
  }

  &__banner-overlay {
	padding: 2rem 20%;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
  }


  &__arrow-icon{
	width: 4.9rem;
	height: 4.9rem;
	padding:1.5rem;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.3);
	cursor:pointer;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  &__route-button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
  }

  &__content-container{
	margin-left: 12rem;
	margin-right: 10rem;
	display: flex;
  }

  &__text-back-button{
	padding-top: 0.7rem;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 800;
	line-height: 1.9rem;
	color: $white;
  }

  &__main-content-wrapper{
	flex: 66%;
  }

  &__side-info{
	flex: 33%;
  }

  &__title-discussion-details{
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.2rem;
	letter-spacing: 0.012rem;
	color:$light-black;
	margin-bottom:1rem;
  }

  &__participation-off-message{
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2rem;
	letter-spacing: 0.0126rem;
  }

  &__side-panel {
	background: $white;
	border: 1px solid $light-white-border;
	box-sizing: border-box;
	border-radius: 7px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
  }

  &__toggle-container {
	display: flex;
	align-items: center;
	margin-bottom: 2.2rem;
	margin-top: 1rem;
  }
  &__people-participating{
	margin-left: 2rem;
  }

  &__participation-on{
	margin-right: 1rem;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 2.2rem;
	letter-spacing: 0.02rem;
	color: #5E617C;
  }

  &__participation-off{
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.2rem;
	letter-spacing: 0.02000rem;
	text-align: left;
	color: $light-black-2;
  }

  &__days-ago{
	font-size: 1.3rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.1rem;
	letter-spacing: 0;
	color:$light-black-2;
	width: 60%;
	margin-bottom: 2rem;
  }

  &__main-content{
	width: 93%;
  }

  &__wrapper{
	display: flex;
  }

  &__left-column{
	width: 50px;
  }

  &__main-column{
	margin-left: 3rem;
	width: 100%;
  }

  &__actions {
	width: 18.7rem;
	height: 7.4rem;
	border: 1px solid $white-border-outcome;
	box-sizing: border-box;
	border-radius: 9px;
	position: absolute;
	flex-direction: column;
	justify-content: space-evenly;
	z-index: 99;
	bottom: -10rem;
	right: -2.2rem;
	background: white;
	display: flex;
  }


  &__edit-button-outcome{
	font-size: 1.3rem;
	line-height: 2rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
	color:$lighter-gray-contrast;
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.6rem 12.3rem 0.6rem 1.4rem ;

	&:hover {
	  cursor: pointer;
	  background: $white-color-outcome;
	  border-radius: 9px;
	  color:$lighter-gray-contrast;
	}
  }

  &__delete-button-outcome{
	font-size: 1.3rem;
	line-height: 2rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
	text-align: left;
	padding: 0.6rem 12.3rem 0.6rem 1.4rem ;
	margin-left: 0.5rem;
	margin-bottom: 1rem;
	margin-right: 0.5rem;
	color:$lighter-gray-contrast;

	&:hover {
	  cursor: pointer;
	  background:$white-color-outcome;;
	  border-radius: 9px;
	  color:$lighter-gray-contrast;

	}
  }

  &__organisation-container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1rem;
  }

  &__user{
	padding: 1rem;
  }

  //overriding dropdown trigger padding
  .dropdown__trigger {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
  }

  &__user-info{
	font-size: 1.3rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.8rem;
	letter-spacing: 0.02000rem;
	color: $user-info-color;

  }

  &__badge-organisation{
	  width: 9.4rem;
	  height: 2rem;
	  margin-left: 1.1rem;
	  background-color: $button-blue;
	  border-radius: 3px;
	  font-style: normal;
	  font-weight: normal;
	  font-size: 1.2rem;
	  line-height: 1.8rem;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  color: $white;
  }

  &__title-outcome{
	font-size: 3rem;
	font-style: normal;
	font-weight: 600;
	line-height: 3.4rem;
	letter-spacing: 0;
	text-align: left;
	color: $light-dark-gray;
	margin-bottom: 2rem;
  }

  &__title{
	font-style: normal;
	font-weight: 600;
	font-size: 3rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
  }

  &__comment-text{
	font-style: normal;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 2.1rem;
	margin-bottom: 2.8rem;
	color: $light-dark-gray;
  }

  &__description-text{
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3rem;
	letter-spacing: 0;
  }

  &__attachment-container{
	//overriding attachment-image settings so image is not too large on desktop
	.attachment-item__image {
	  max-height: 305px !important;
	  width: auto !important;
	  border-radius: 4px;
	}
  }

  &__actions-container{
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	margin-bottom: 3.4rem;
	font-style: normal;
	font-weight: normal;
	font-size: 1.3rem;
	line-height: 2.1rem;
	color: #5E617C;
  }

  &__edit-button-container{
	display: flex;
	width: 100%;
  }

  &__edit-button{
	margin-left: auto;
	margin-top: 1rem;
	text-align: right;
	padding: 0.6rem 2rem;
	background-color: $extra-light-gray;
	border-radius: 0.5rem;
	font-size: 1.3rem;
	color: $light-black-2;
  }

  &__share-button{
	padding: 0.6rem 2rem;
	border-radius: 0.5rem;
	font-size: 1.3rem;
	color: $light-black-2;
	background-color: $extra-light-gray;
	display: flex;
	align-items: center;
	margin-bottom: 2.1rem;
  }

  &__closed-discussion{
	height: 4.7rem;
	background: $white;
	border: 1px solid $light-white-border;
	box-sizing: border-box;
	border-radius: 7px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1.7rem;
  }

  &__closed-text{
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2rem;
	letter-spacing: 0.01268rem;
	color:$light-black;
	padding-left: 2.5rem;
  }

  &__share-button-text{
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	margin-top: 0.2rem;
  }

  &__comments-container{
	background: $white;
	border: 1px solid $light-white-border;
	box-sizing: border-box;
	border-radius: 7px;
	width: 100%;
  }

  &__comment-add-container{
	margin: 2rem;
	display: flex;
	flex-direction: column;
  }

  &__comments-title-container{
	margin-left: 3rem;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
  }

  &__comments-title{
	font-weight: 600;
	font-size: 2rem;
  }

  &__comments-number{
	margin-left: 2rem;
	font-size: 1.2rem;
	color:$medium-dark-gray;
	padding-top: 0.4rem;
  }
}
