
.reset-password-form {
    display: flex;
	flex-direction: column;
	padding: 2rem;
	font-size: 1.4rem;

	&__error-message {
		color: #DA3B21;
		font-style: italic;
		line-height: 2rem;
		margin-bottom: 2rem;
	}

	&__btn-save {
		margin-top: 1rem;
        & div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
	}
	
	&__save-text {
		margin-right: 1rem;
	}
}