.recovery-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 1.4rem;

    &__btn-send {
        margin-top: 2rem;
        & div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__btn-text {
        margin-right: 1rem;
    }

    &__error-message {
        color: $color-problem;
        font-style: italic;
        line-height: 4rem;
    }
}