.change-password-form {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	font-size: 1.4rem;

	input {
		margin-bottom: 1rem;
	}

	&__submit-btn {
		width: 12rem;
	}	
	
	&__submit-phone-btn {
		width: 100%;
	}
}
