.project-password-popup {
	border-radius: 2rem !important;

  &__top-container{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 3rem 3.5rem 4rem 4rem;
  }

  &__title{
	font-size: 1.8rem;
	font-weight: 700;
	color:$medium-dark-color;
	line-height: 2.2rem;
  }

	&__text{
		padding-left: 4rem;
		padding-right: 4rem;
  }

	&__button-container{
		display: flex;
		justify-content: flex-end;
		padding: 3rem 4.25rem 4rem 4rem;
		& button {
			margin-left: 2rem;
			width: 13rem;
		}
	}
}
