    <button type="button" class="btn-none top-header-phone__btn-hamburger" {{on 'click' this.showUserMenu}} aria-label={{t "accessibility.openMenu"}}>
      <span aria-hidden="true">{{inline-svg 'images/hamburger-menu' class="icon"}}</span>
    </button>
