<div class="top-header-phone" id="top-header">
    <LinkTo @route="home" aria-label={{t "pb.accessibility.homePage"}}>
        <span aria-hidden="true">{{inline-svg "images/civocracy_logo_medium.svg" class="icon-logo"}}</span>
    </LinkTo>
	<TopHeader::HeaderRightHamburger/>
</div>
