<div class="community-management">
  <div class="community-management__title">
    {{t 'community.projectManagement.navTitle'}}
  </div>

  <ProjectManagement @project={{this.model.project}}/>
</div>
