.no-result{
    position: absolute;
    width: 318px;
    height: 54px;
    left: 24px;
    top: 10px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    /* or 18px */
    
    letter-spacing: 0.126802px;
    
    color: #FF7F47;


&__space{

    height:20px;
}



    
}