<div class="no-result">
    "Oops, no ideas were found with the word(s) you typed. Try with other words, check your spelling or delete some filters."

</div>
<div class="no-result__space">


    </div>