<span class="theme-item-active">
  {{@theme.labelTranslate}}
  <button class="btn-none theme-item__icon" {{on "click" (fn @handleClick @theme)}}>
    {{inline-svg '/images/consultation/cross.svg'}}
  </button>
</span>
