{{#if (eq intl.locale 'de')}}

	<div class="de">

		<ol>
			<li>Gegenstand
				<ol>
					<li>Civocracy B.V. (im Folgenden "Betreiber") stellt unter www.civocracy.org ein Online-Portal (im Folgenden "Portal") für alle Interessierte (im Folgenden "Nutzer") zur Verfügung, die sich mit ihren Ideen und Anregungen daran beteiligen möchten.</li>
					<li>Die vorliegenden Nutzungsbedingungen regeln die Nutzung des Portals und damit  das Rechtsverhältnis zwischen dem Betreiber und den Nutzern. Sie sind für das Rechtsverhältnis zwischen der Betreiber und den Nutzern einzig maßgebend, soweit nicht einzelvertraglich etwas anderes vereinbart ist. Abweichende Regelungen in diesem Sinne bedürfen der Schriftform.</li>
					<li>Dem Rechtsverhältnis liegen ausschließlich diese Nutzungsbedingungen des Betreibers zu Grunde. Etwaige Nutzungsbedingungen eines Nutzers gelten nicht. Die vorliegenden Nutzungsbedingungen gelten auch dann, wenn der Betreiber in Kenntnis entgegenstehender Nutzungsbedingungen eines Nutzers die Leistung vorbehaltlos ausführt und den abweichenden Nutzungsbedingungen des Nutzers zuvor nicht ausdrücklich widerspricht.</li>
				</ol>
			</li>

			<li>Änderungsvorbehalt
				<ol>
					<li>Die Betreiber hat das alleinige Ermessen über den Inhalt, das Erscheinungsbild, die Gestaltung, die Funktionsweise und alle anderen Merkmale des Portals. Dies umfasst das Recht, den Inhalt, das Erscheinungsbild, die Gestaltung, die Funktionsweise sowie andere Merkmale des Portals sowie einzelner Elemente, Aspekte, Teile oder Features jederzeit umzugestalten, zu modifizieren, zu beseitigen oder zu verändern, bzw. den Zugang hierzu einzuschränken.</li>
					<li>Der Betreiber behält sich vor, diese Nutzungsbedingungen jederzeit zu ändern und die weitere Nutzung des Portals, insbesondere der registrierungspflichtigen Inhalte, von der Zustimmung zu den geänderten Nutzungsbedingungen abhängig zu machen.</li>
				</ol>
			</li>

			<li>Leistungen der Betreiber
				<ol>
					<li>Der Betreiber stellt folgende Leistungen auf dem Portal bereit: Auf dem Portal können sich die Nutzer über Projekte informieren und beteiligen. Registrierte Nutzer können sich mit ihren Ideen und Vorschlägen an einzelnen Projekten online beteiligen. Darüber hinaus haben sie die Möglichkeit, die Anregungen anderer Nutzer zu kommentieren und/oder ihnen zuzustimmen.</li>
					<li>Die Inhalte der Nutzer werden vom Betreiber überprüft. Die Betreiber hat das Recht, Beiträge die den Nutzungsregeln zuwiderlaufen zu löschen oder zu sperren.</li>
				</ol>
			</li>

			<li>Registrierung/Einrichtung eines Accounts/Anmeldung
				<ol>
					<li>Um sich über das Portal an den Projekten zu beteiligen, müssen sich die Nutzer einmalig registrieren.</li>
					<li>Die Registrierung ist ebenso wie die weitere Nutzung des Portals kostenlos.</li>
					<li>Um sich zu registrieren, muss der Nutzer die vorgegebenen Felder vollständig und wahrheitsgemäß ausfüllen, eine gültige E-Mail-Adresse hinterlegen, einen Benutzernamen angeben und zur Sicherung seines Accounts ein Passwort einrichten.</li>
					<li>Für jede weitere Anmeldung auf dem Portal ist nur noch die Angabe der E-Mail-Adresse und des Passworts erforderlich.</li>
					<li>Der Betreiber kann mit dem Nutzer über die in seinem Profil hinterlegte E-Mail-Adresse Kontakt aufnehmen, falls der Nutzer die Nutzungbedingungen nicht respektiert hat.</li>
				</ol>
			</li>

			<li> Pflichten des Nutzers
				<ol>
					<li>Der Nutzer ist verpflichtet,
						<ol>
							<li>bei der Einrichtung des Accounts eine gültige E-Mailadresse und einen Benutzernamen anzugeben.</li>
							<li>die Einrichtung von Zweit-Accounts zu unterlassen.</li>
							<li>geeignete und zumutbare Maßnahmen zu ergreifen, um eine unbefugte Nutzung des eigenen Accounts durch Dritte zu verhindern.</li>
							<li>bei dem Verdacht einer missbräuchlichen Nutzung des Accounts das eingerichtete Passwort unverzüglich zu ändern.</li>
							<li>jeden Verdacht einer missbräuchlichen Nutzung des eigenen Accounts unverzüglich dem Betreiber unter contact@civocracy.org anzuzeigen.</li>
							<li>sicherzustellen, dass die von ihm auf dem Portal eingestellten Inhalte nicht gegen geltende strafrechtliche, jugendschützende Normen verstoßen, oder sonstige gesetzlichen Bestimmungen, z. B. fremde Persönlichkeitsrechte verletzen.</li>
							<li>keine Inhalte einzustellen, die sittenwidrig, diskriminierend, rassistisch, links- oder rechtsextrem sind oder religiöse Gefühle verletzen.</li>
						</ol>
					</li>
					<li>Folgende Handlungen sind dem Nutzer untersagt:
						<ol>
							<li>Zugriff auf die Funktionen und Datenbestände des Portals außerhalb der hierfür vorgesehenen Bedienmasken und Schnittstellen (z. B. mit Hilfe von Fremdsoftware).</li>
							<li>Verwendung von Mechanismen, Software oder Scripts in Verbindung mit der Nutzung des Portals.</li>
							<li>Blockieren, Überschreiben, Modifizieren, Kopieren des Portals ganz oder in Teilen.</li>
							<li>Jede Handlung, die geeignet ist, die Funktionalität des Portals zu beeinträchtigen, insbesondere diese übermäßig zu belasten.</li>
							<li>Das Umgehen von technischen Beschränkungen des Portals, sowie dessen Veränderung, Modifizierung, Anpassung, Weiterentwicklung oder Weiterverbreitung, insbesondere im eigenen Namen.</li>
						</ol>
					</li>
					<li>Hat der Betreiber konkrete Anhaltspunkte dafür, dass ein Dritter den Account eines Nutzers unbefugt nutzt, oder ein Nutzer gegen diese Nutzungsbedingungen verstößt, so ist der Betreiber berechtigt, den Account dieses Nutzers zeitweise oder vollständig zu sperren.</li>
				</ol>
			</li>

			<li>Inhaltliche Verantwortlichkeit und Freistellung
				<ol>
					<li>Alle Inhalte eines Nutzers, z. B. in Form von Beiträgen oder Kommentaren, drücken die Ansicht des jeweiligen Autors aus. Sie geben nicht die Meinung des Betreibers wieder. Der Betreiber kann nicht für den Inhalt verantwortlich gemacht werden.</li>
					<li>Der Betreiber haftet nicht für die sachliche und rechtliche Richtigkeit von Nutzerinhalten oder Inhalten von Seiten, auf welche Nutzer verweisen.</li>
					<li>Der Betreiber prüft nicht, ob die von einem Nutzer eingestellten Inhalte Rechte Dritter verletzten. Der Nutzer ist für die Zulässigkeit der von ihm eingestellten Inhalte selbst verantwortlich, sowie dafür, dass diese keine Rechte Dritter verletzen, insbesondere in strafrechtlicher Hinsicht.</li>
					<li>Der Nutzer stellt den Betreiber hiermit von allen Ansprüchen frei, die Dritte wegen einer Verletzung ihrer Rechte durch die vom Nutzer eingestellten Inhalte gegen den Betreiber geltend machen.</li>
					<li>Der Betreiber ist berechtigt, die auf dem Portal eingestellten Inhalte vorläufig oder dauerhaft zu sperren, vom Netz zu nehmen, oder sie so zu verändern, dass sie Rechte Dritter nicht mehr verletzen oder die geforderte Unterlassungserklärungen abzugeben, wenn der Betreiber wegen eines Inhaltes, den ein Nutzer auf dem Portal eingestellt hat, von Dritten auf Unterlassung in Anspruch genommen wird.</li>
				</ol>
			</li>

			<li>Haftung
				<ol>
					<li>Die Nutzung des Portals erfolgt freiwillig.</li>
					<li>Der Betreiber haftet für das Portal vorbehaltlich der nachstehenden Regelungen nach den gesetzlichen Vorschriften.</li>
					<li>Die vorstehende Haftungsbeschränkung gilt nicht bei einer Gefährdungshaftung und für Schäden aufgrund der Verletzung des Lebens, des Körpers oder der Gesundheit.</li>
					<li>Der Nutzer erkennt an, dass eine 100%ige Verfügbarkeit des Portals technisch nicht zu realisieren ist. Der Betreiber bemüht sich jedoch, das Portal möglichst konstant verfügbar zu halten. Insbesondere Wartungs-, Sicherheits- oder Kapazitätsbelange sowie Ereignisse, die nicht im Machtbereich der Betreiber liegen (wie z. B. Störungen von öffentlichen Kommunikationsnetzen, Stromausfälle etc.), können zu kurzzeitigen Störungen oder zur vorübergehenden Einstellung der Dienste führen.</li>
				</ol>
			</li>
		</ol>

	</div>

{{else}}

	<h3>We are all for freedom of speech, but we want to be respectful of others.<br>
		We want to empower people to create impact and this is attained best in a constructive way.</h3>

	<p>These Terms of Use apply to all interactions on <a href="/" alt="Home">www.civocracy.org</a>, including -but not
		limited to- the discussion.</p>
	<p>Any person actively using Civocracy’s website is implicitly agreeing to these Terms of Use, regardless of whether
		this person has read them or not.</p>
	<p>Upon discovery we will remove any material which:</p>
	<ul>
		<li>infringes copyright, including plagiarism.</li>
		<li>amounts to unauthorized posting of personal information (names, address, phone number, email, pictures, etc.).
		</li>
		<li>contains vulgar, obscene or indecent language or images.</li>
		<li>defames, abuses or threatens others.</li>
		<li>is bigoted, hateful or racially offensive.</li>
		<li>advocates illegal activity or discusses illegal activities with the intent to commit them.</li>
		<li>in any way violates any applicable law or regulation.</li>
		<li>impersonates or attempts to impersonate Civocracy or a Civocracy employee, another user, or person or entity
			(including, without limitation, the use of email
		</li>
		<li>addresses or screen names associated with any of the forementioned),</li>
		<li>restricts or inhibits anyone's use or enjoyment of the Website, or which, as determined by us, may harm
			Civocracy or users of the Website or expose them to liability.
		</li>
		<li>has a commercial purpose.</li>
	</ul>

	<p>Additionally, you agree not to:<br/></p>
	<ul>
		<li>use the Website in any manner that could disable, overburden, damage, or impair the site or interfere with any
			other party's use of the Website, including their ability to engage in real time activities through the Website.
		</li>
		<li>use any robot, spider or other automatic device, process or means to access the Website for any purpose,
			including to monitor or copy any of the material on the Website.
		</li>
		<li>use any manual process to monitor or copy any of the material on the Website for any other unauthorized purpose
			without our prior written consent.
		</li>
		<li>use any device, software or routine that interferes with the proper working of the Website.</li>
		<li>introduce any viruses, trojan horses, worms, logic bombs or other material which is or can be malicious or
			technologically harmful.
		</li>
		<li>attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Website, the server
			on which the Website is stored, or any server, computer or database connected to the Website.
		</li>
		<li>attack the Website in any way.</li>
		<li>otherwise attempt to interfere with the proper working of the Website.</li>
	</ul>

	<p>Users who violate these Terms of Use may lose their account permanently. Account suspensions are at the sole
		discretion of Civocracy.<br/>
		All users are required to provide a valid email address where they can be contacted at any time.<br/></p>

	<p>For any concerns as to material found on the website, contact <a href="mailto:moderation@civocracy.org"
																							  alt="Contact moderation">moderation@civoracy.org.</a>
	</p>

{{/if}}
