<div class="homepage-title-panel">
  <div class="homepage-title-panel__video-container">
    <div class="homepage-title-panel__background-mask"/>

    <video autoplay loop muted playsinline
      poster="/images/landing-page.jpg"
      class="homepage-title-panel__video"
      width = "100%"
      height = "100%"
      {{did-insert this.initVideo}}
    >
      <source src= "../../videos/landing_page_video.mp4" type="video/mp4">
    </video>

  </div>

  <div class="homepage-title-panel__middle">
    <div class="homepage-title-panel__text {{if this.showText 'show-text'}}">
      <h1 class="homepage-title-panel__text__main">{{t "homepage.landing.title"}}</h1>
      <p class="homepage-title-panel__text__secondary">{{t "homepage.landing.subtitle"}}</p>
    </div>
  </div>
</div>
