<div class="popup__content info-popup">
	<div class="info-popup__container">
		<div class="info-popup__header">
			<PopupCloseButton @closePopup={{this.closePopup}} />
		</div>
		<div class="info-popup__content">
			<div class="info-popup__info-section">

				<div class="info-popup__icon-section">
						{{inline-svg "images/community/info-line.svg"}}
						{{inline-svg "images/community/info-icon.svg"}}
				</div>
				<div class="info-popup__info">
					<h1>5 ways to best recycle a plastic bag : article by Ville de Lyon</h1>
					<span class="info-popup__date">1st march, 2020</span>
					<span class="info-popup__info-text">
						<b>• Lorem ipsum dolor sit amet</b><br>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="">Donec turpis</a> ut a tortor sit a. Cras a urna ultricies sed turpis sed semper. Aenean quam egestas dolor pharetra quam id sit. Turpis at placerat nunc, suspendisse in consectetur ut faucibus. Sed venenatis velit quis purus ut sagittis, urna ipsum amet. Quam rutrum amet habitant venenatis ornare ultrices orci porttitor netus. Pretium.
					</span><br>
					<span class="info-popup__info-text">
						<b>• Lorem ipsum dolor sit amet</b><br>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis ut a tortor sit a. Cras a urna ultricies sed turpis sed semper. <a href="">Aenean quam egestas</a> dolor pharetra quam id sit. Turpis at placerat nunc, suspendisse in consectetur ut faucibus. Sed venenatis velit quis purus ut sagittis, urna ipsum amet. Quam rutrum amet habitant venenatis ornare ultrices orci porttitor netus. Pretium.
					</span>
					<span class="info-popup__info-text">
						<b>• Lorem ipsum dolor sit amet</b><br>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis ut a tortor sit a. Cras a urna ultricies sed turpis sed semper. <a href="">Aenean quam egestas</a> dolor pharetra quam id sit. Turpis at placerat nunc, suspendisse in consectetur ut faucibus. Sed venenatis velit quis purus ut sagittis, urna ipsum amet. Quam rutrum amet habitant venenatis ornare ultrices orci porttitor netus. Pretium.
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
